# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds & keystores
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Logs & Metro
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# OS Files
.DS_Store
Thumbs.db
*.pem

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Typescript
*.tsbuildinfo

# Generated native directories
/ios/
/android/

